#header, #mainContent, #footer {
    margin:0px auto;
    overflow: auto;
    width: 980px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #eeeeee;
}

a {
    font-family: cursive;
    color: black;
    text-decoration: none;
}

#logo, #welcomeBanner {
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    text-align: center;
}

#logo {
    float: left;
    width: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background-color: #2e6680;
    color: white;
}

#welcomeBanner {
    float: right;
    width: 780px;
    color: #2e6680;
}

#navigationMenu {
    float: left;
    width: 200px;
}

#navigationMenu ul {
    list-style: none;
    padding: 0px;
}
#navigationMenu ul li {
    display: block;
    width: 200px;
    float: left;
    background-color: #2e6680;
    color: white;
    margin-bottom: 20px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#navigationMenu ul li:hover {
    color: red;
    background-color: #547c80;
}

#productList {
    float: right;
    width: 750px;
}

#productList ul {
    padding: 0px;
    list-style: none;
}

#productList ul li {
    display: block;
    float: left;
    padding: 10px;
    margin: 0px 10px 10px;
    height: 230px;
    width: 200px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

#productList ul li:hover {
    background-color: #aaaaaa;

}

#productList ul li .product {
    height: 200px;
    max-width: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#productList ul li .price {
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 30px;
    line-height: 30px;
    bottom: 40px;
    opacity: 0.5;
    color: white;
    display: none;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;

}

#productList ul li:hover .price {
    display: block;

}

#productList ul li .add {
    background-color: darkgreen;
    color: white;
    text-align: center;
    position: absolute;
    width: 80px;
    height: 50px;
    line-height: 50px;
    bottom: 120px;
    opacity: 0.7;
    color: white;
    margin-left: 10px;
    display: none;
    
}

#productList ul li:hover .add {
    display: block;
}

#productList ul li .remove {
    background-color: red;
    color: white;
    text-align:center;
    position: absolute;
    width: 80px;
    height: 50px;
    line-height: 50px;
    bottom: 120px;
    opacity: 0.7;
    color: white;
    float: right;
    margin-left:110px;
    display: none;
}

#productList ul li:hover .remove {
    display: block;
}

#productList ul li .bgImage {
    background-color: black;
    position: absolute;
    width: 200px;
    height: 170px;
    line-height: 100px;
    bottom: 70px;
    opacity: 0.6;
    display: none;
}

#productList ul li:hover .bgImage {
    display: block;
}

#footer {
    text-align: center;
    color: #2e6680;
}

span {
    position: absolute;
    display:run-in;
    z-index: 1;
}

/*Thanks to http://css3buttongenerator.com/*/
.btn {
  position: relative;
  left: 500px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
